/* Agradeço a Deus pelo dom do conhecimento */

@media (max-width: 767px) 
{
	#about
	{
		text-align: center;
	}

	#navbar
	{
		display: none;
	}

	#cabecalho img
	{
		margin-top: 30px;
	}

	.tooltip_m {
	    position: relative;
	    padding: 3% 0;
	}

	.tooltip_m .tooltiptext {
	    visibility: hidden;
	    background-color: #000;
	    color: #fff;
	    width: 80%;
	    bottom: 100%;
	    left: 50%;
	    margin-left: -40%;
	    text-align: justify;
	    padding: 5%;
	    border-radius: 6px;
	    position: absolute;
	    z-index: 1;
	}

	.svn {
	    font-size: 18px;
	}

	.svn i{
		padding: 3%;
	}

	.projeto
	{
		padding-top: 7%;
	}

	.projeto_titulo
	{
		padding-top: 5%;
	}
}

@media (min-width: 768px) 
{
	#cabecalho img
	{
		margin-top: 30px;
		margin-bottom: 10px;
	}

	#navbar a
	{
		background-color: transparent;
	}

	#navbar a:hover
	{
		font-weight: bold;
	}

	.tooltip_m {
	    position: relative;
	    padding: 1% 0;
	}

	.tooltip_m .tooltiptext {
	    visibility: hidden;
	    background-color: black;
	    color: white;
	    width: 270%;
	    bottom: 100%;
	    left: 0%;
	    margin-left: -183%;
	    text-align: justify;
	    padding: 5%;
	    border-radius: 6px;
	    position: absolute;
	    z-index: 1;
	}

	#about
	{
		padding-top: 3%;
	}

	.svn {
	    font-size: 20px;
	}

	.svn i{
		padding: 3%;
	}

	#habilidades h3
	{
		margin-bottom: 23px;
	}

	#habilidades p
	{
		padding: 5px;
	}
	
	.projeto
	{
		padding-top: 3%;
	}

	.projeto_titulo
	{
		padding-top: 2%;
	}
}

@media (min-width: 992px) {
	.svn
	{
		font-size: 12px;
		padding-top: 15%;
	}

	.svn i{
		padding: 1%;
	}

	#projetos h3 {
		background-color: darkcyan;
	}
} 

@media (min-width: 1200px) {
	.svn
	{
		font-size: 23px;
		padding-top: 10%;
	}

	.svn i{
		padding: 1%;
	}

	.tooltip_m .tooltiptext {
	    visibility: hidden;
	    background-color: #000;
	    color: #fff;
	    width: 280%;
	    bottom: 100%;
	    left: 50px;
	    margin-left: -176%;
	    text-align: justify;
	    padding: 5%;
	    border-radius: 6px;
	    position: absolute;
	    z-index: 1;
	}
}

.icones {
	width: 24px;
	height: 24px;
}

.img-responsive
{
    margin: 0 auto;
}
	

#contacts a
{
	font-size: 2em;
}

#formacaoAcademica
{
	margin-top: 20px;
}

#formacaoAcademica .row
{
	margin-top: -20px;
}

#experiencias a
{
	background-color: transparent;
}

#experiencias a:hover
{
	font-weight: bold;
}

.alignvertical
{
	display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.background
{
	background-color: #F3F3F3;
}

.titulos
{
	background-color: #282828;
	color: white;
	margin-bottom: 30px;
}

.tooltip_m:hover .tooltiptext {
    visibility: visible;
}

@media print {
  .visible-print-block  { display: inherit !important; }
  .hidden-print   { display: none !important; }
}