.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-about-me {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-header-menu {
  background-color: #282c34;
  display: flex;
  flex-direction: row-reverse;
  color: #fff;
}

.App-header-menu-button {
  background-color: Transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.App-header-menu-button:hover {
  background-color: #61dafb;
  border: #61dafb;
}

.App-header-menu-button-active {
  background-color: #61dafb;
  border: #61dafb;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  padding: 5px;
  overflow: hidden;
}

.App-training {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-training-table {
  width: 90%;
}

.App-footer-title {
  margin-bottom: 6px;
}

.App-footer-subtitle {
  margin-top: 6px;
  margin-bottom: 0px;
  padding-bottom: 16px;
}

.App-footer-heart {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(https://unpkg.com/emoji-datasource-twitter@4.0.2/img/twitter/sheets-256/64.png);
  background-size: 5200%;
  background-position: 98.0392156862745% 15.686274509803921%;
}

.App-card {
  background-color: white;
  overflow: hidden;
  padding: 18px;
  width: 80%;
  height: auto;
  font-family: Quicksand, arial, sans-serif;
  box-shadow: 0 0 20px rgba(245, 241, 241, 0.05),
    0 0px 40px rgba(251, 247, 247, 0.08);
  border-radius: 5px;
  color: black;
}

.App-card-divider {
  margin-bottom: 10px;
}

.App-card-title {
  float: left;
}

.App-card-content {
  clear: both;
  padding-left: 50px;
  text-align: justify;
}

.App-horizontal-list ul {
  padding-left: 0px;
}

.App-horizontal-list ul li {
  padding: 10px;
  display: inline-block;
  font-size: 50px;
}

.App-horizontal-list ul li a {
  color: inherit;
  text-decoration: none;
}
